<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Natsume</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Natsume</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>3</integer>
    <key>copyright</key>
    <string>SIL Open Font License (OFL)</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>capHeight</key>
    <integer>621</integer>
    <key>xHeight</key>
    <integer>483</integer>
    <key>ascender</key>
    <integer>726</integer>
    <key>descender</key>
    <integer>-274</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string>Created for Xymyric 9. Drawn in Inkscape and compiled using FontForge.</string>
    <key>openTypeHeadCreated</key>
    <string>2023/01/13 20:40:21</string>
    <key>openTypeHheaAscender</key>
    <integer>749</integer>
    <key>openTypeHheaDescender</key>
    <integer>-277</integer>
    <key>openTypeHheaLineGap</key>
    <integer>72</integer>
    <key>openTypeNameVersion</key>
    <string>Version 0.003</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>1</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>726</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-274</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>150</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>749</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>277</integer>
    <key>postscriptFontName</key>
    <string>Natsume-Regular</string>
    <key>postscriptFullName</key>
    <string>Natsume</string>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-25</integer>
      <integer>0</integer>
      <integer>480</integer>
      <integer>510</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-280</integer>
      <integer>-269</integer>
    </array>
    <key>postscriptBlueFuzz</key>
    <integer>0</integer>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueScale</key>
    <real>0.029625</real>
    <key>postscriptForceBold</key>
    <false/>
    <key>guidelines</key>
    <array/>
  </dict>
</plist>
